<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bakend desafio</title>
</head>
<body style="background-color: #f2f2f2; font-family: 'Arial', sans-serif; color: #333; margin: 0; padding: 0;">
  <header style="background-color: #313131; padding: 20px; text-align: center;">
    <h1 style="color: white;">Productos</h1>
  </header>
  <main style="padding: 20px;">
    {{{body}}}
  </main>
</body>
</html>
